@import "tailwindcss";

:root {
  --background: #0f0a00;
  --foreground: #f5e6c8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @theme {
  --color-dark:       #0f0a00;   
  --color-surface:    #1a1200;
  --color-gold:       #E8A020; 
  --color-gold-light: #F0B840;
  --color-cream:      #f5e6c8;
  --color-muted:      #9a8870;
} */
@theme {
  --color-dark:       #09090b;
  --color-surface:    #18181b;
  --color-surface-hover: #27272a;
  
  --color-gold:       #e2b867;  
  --color-gold-light: #f1d499;
  
  --color-cream:      #fafafa;
  --color-muted:      #a1a1aa;
  
  --color-border-vibe: rgba(226, 184, 103, 0.1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0a00;
    --foreground: #f5e6c8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}